<% @project.tasks.reverse_order.each do |t| %>
<tr id="trow_<%= t.id %>">
	<td>
		<div id="tid_<%= t.id %>"> <%= t.note %> </div>
	</td>
	<td width="2px">
		<%= link_to edit_project_task_path(@project.id,t.id), remote: true do %>
			    <button class="btn btn-primary">Edit</button>
			<% end %>
	</td>
	<td width="2px">
		<%= link_to project_task_path(@project.id,t.id), remote: true, method: :delete do %>
			<button class="btn btn-danger">Delete</button>
		<% end %>
	</td>
</tr>
<% end %>